*{
	box-sizing: border-box;
}
body{
	font-family: 'calibri', 'arial', serif;
}
h1{
	font-size: 175%;
	text-align: center;
	margin-bottom: 50px;
}
h2{
	font-size: 125%;
	border: 1px solid black;
	background-color: #D59898;
	padding: 3px;
	position: absolute;
	top: -17px;
	right: -1px;
}
p{
	margin-top: 28px;
}
section{
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	background-color: #999999;
	width: 31%;
	float: left;
	position: relative;
}
article{
	margin-right: 4%;
	margin-left: 4%;
}
#chicken{
	background-color: #D59898;
}
#beef{
	background-color: #C14543;
}
#sushi{
	background-color: #E5D198;
}

@media (min-width: 768px) and (max-width: 991px){
section{
	width: 47%;
}
#third{
	width: 96.5%;
}
}

@media (max-width: 767px){
	section{
		width: 100%;
	}
	article{
		margin-right: 8%;
	}
}